<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="cat.petrushkacat.audiobookplayer.audioservice.AudiobookMediaService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">
        </service>
    </application>
</manifest>